<?xml version="1.0" encoding="utf-8"?>
<Content Key="03d18cbf-d91d-4e21-839c-4371e78d272e" Alias="Blog Post One" Level="3">
  <Info>
    <Parent Key="c44e94fd-565c-4674-8253-93f6c1fc2b12">Blog</Parent>
    <Path>/Home/Blog/BlogPostOne</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-12-30T00:37:39</CreateDate>
    <NodeName Default="Blog Post One" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94fc7f1a-5ec9-4e4c-936e-32cdb923ad8e">BlogPost</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/01109e171c034d82b20c440e059d6f63",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2f844ddf-0b62-4875-ba07-89de9a2031bf",
      "udi": "umb://element/01109e171c034d82b20c440e059d6f63",
      "richText": "<h2>What is Lorem Ipsum?</h2>\n<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining ess</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <featureText>
      <Value><![CDATA[Blog post one preview text]]></Value>
    </featureText>
    <header>
      <Value><![CDATA[Blog post one]]></Value>
    </header>
  </Properties>
</Content>