<?xml version="1.0" encoding="utf-8"?>
<Content Key="c44e94fd-565c-4674-8253-93f6c1fc2b12" Alias="Blog" Level="2">
  <Info>
    <Parent Key="9b247184-2ee3-4cb5-8001-b69b3617f4f7">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-12-30T00:37:28</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a4632e-7913-4cbb-8c1b-53a90e2104e2">Blog</Template>
  </Info>
  <Properties />
</Content>