<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b247184-2ee3-4cb5-8001-b69b3617f4f7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-12-30T00:37:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fce9632f-15e3-4ccc-9f80-403466b8e316">Home</Template>
  </Info>
  <Properties />
</Content>