<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffbf79ae-78e0-4df3-b5f1-917fed26ce54" Alias="blogPost" Level="1">
  <Info>
    <Name>Blog Post</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="cf5a9c7c-e59d-4da7-a620-8f6e785f0b20">basePageComp</Composition>
    </Compositions>
    <DefaultTemplate>BlogPost</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="94fc7f1a-5ec9-4e4c-936e-32cdb923ad8e">BlogPost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>