<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe97084f-14d5-4539-bf60-674b7e7d4c3b" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27a4632e-7913-4cbb-8c1b-53a90e2104e2">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ffbf79ae-78e0-4df3-b5f1-917fed26ce54" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>