<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c728ba3-08a4-4851-8ed2-0b129e89b958" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fce9632f-15e3-4ccc-9f80-403466b8e316">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fe97084f-14d5-4539-bf60-674b7e7d4c3b" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>